<table id="set-cards">
    <thead>
        <th># Owned</th>
        <th>Card No.</th>
        <th>Name</th>
        <th>Mana Cost</th>
        <th>Rarity</th>
        <th>Price</th>
    </thead>
    <tbody>
    {{#each cards}}
        <tr class="card-set-card">
            <td class="card-set-card-owned">
                {{>cardsOwned}}
            </td>
            <td class="card-set-card-number">{{this.number}}</td>
            <td class="card-set-card-name">
                <!-- TODO: need to map id to create the thumbnail URL >> 
                TODO: consider: hover and show image OR show thumbnail?
                https://cards.scryfall.io/{{img.type}}/{{img.face}}/{{img.dir1}}/{{img.dir2}}/{{scryfallId}}.jpg-->
                <a class="card-set-card-link" href="{{this.url}}">{{this.name}}</a>
            </td>
            <td class="card-set-card-mana-cost">
                {{>manaCost}}
            </td>
            <td class="card-set-card-rarity">{{this.rarity}}</td>
            <td class="card-set-card-price">${{this.price}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>