<section class="border border-teal-100 sm:m-0 md:m-4">
    <section class="text-center bg-teal-100 mb-4">
        <h3 class="page-title">{{this.username}}'s Inventory</h3>
        <p>Value: ${{#if this.ownedValue}}{{this.ownedValue}}{{else}}0.00{{/if}}</p>
    </section>

    <table class="table-container w-full">
        <thead>
            <tr class="table-header-row">
                <th class="table-header pl-2">Owned</th>
                <th class="table-header">Name</th>
                <th class="table-header">Set</th>
                <th class="table-header">Price</th>
                <th class="table-header pr-2">Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each cards as |card|}}
            <tr class="table-row">
                <td class="cards-owned-td pl-2">{{>inventoryCtrl card=card}}</td>
                <td class="inventory-item" data-id="{{card.cardId}}" data-img-src="{{card.imgSrc}}">
                    <a href="{{card.url}}">{{card.name}}</a>
                    {{>reserved card=card}}
                    <a href="{{card.url}}" class="card-img-link">
                        <img src="{{card.imgSrc}}" alt="{{card.name}}" class="card-img-preview" />
                    </a>
                </td>
                <td>
                    <a href="/sets/{{card.setCode}}">
                        <i class="ss ss-{{card.setCode}} ss-{{toLowerCase card.rarity}} ss-fw"></i>
                        {{toUpperCase card.setCode}}
                    </a>
                </td>
                <td>{{card.displayValue}}</td>
                <td class="delete-inventory-entry pr-2">{{>deleteInventoryEntry card=card}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>
<script src="/public/js/updateInventory.js" defer></script>