<div>
    <section class="text-center bg-teal-100 mb-4">
        <h3 class="page-title flex items-center justify-center space-x-2">
            <i class="ss ss-{{set.keyruneCode}} ss-2x"></i>
            <span>{{set.name}}</span>
        </h3>
        <ul clas="mt-4 space-y-2 text-left">
            <li class="text-gray-700">Block: {{set.block}}</li>
            <li class="text-gray-700">Code: {{set.code}}</li>
            <li class="text-gray-700">Release Date: {{set.releaseDate}}</li>
        </ul>
    </section>
</div>
<div>
    <table class="table-container">
        <thead>
            <tr class="table-header-row">
                <th class="table-header pl-2"># Owned</th>
                <th class="table-header">Card No.</th>
                <th class="table-header">Name</th>
                <th class="table-header">Mana Cost</th>
                <th class="table-header">Rarity</th>
                <th class="table-header">Price</th>
                <th class="table-header pr-2">Foil Price</th>
            </tr>
        </thead>
        <tbody>
            {{#each set.cards}}
            <tr class="table-row">
                <td class="py-2 pl-2">
                    {{>inventoryCtrl card=this}}
                </td>
                <td class="py-2">{{this.number}}</td>
                <td class="py-2">
                    <a href="{{this.url}}" class="table-link">{{this.name}}</a>
                    {{>reserved card=this}}
                </td>
                <td class="py-2">{{>manaCost card=this}}</td>
                <td class="py-2">{{this.rarity}}</td>
                <td class="py-2">{{#if card.normalPrice}}${{card.normalPrice}}{{/if}}</td>
                <td class="py-2 pr-2">{{#if card.foilPrice}}${{card.foilPrice}}{{/if}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<script src="/public/js/updateInventory.js" defer></script>