<form class="quantity-form quantity-form-{{#if card.isFoil}}foil{{else}}normal{{/if}}"
    data-item-id="{{card.cardId}}" data-foil="{{card.isFoil}}">

    <input type="hidden" name="cardId" value="{{card.cardId}}" />

    <button type="button" class="increment-quantity  inventory-controller-button-{{#if card.isFoil}}foil{{else}}normal{{/if}} 
        hover:text-purple-400 active:text-purple-600">+</button>

    <input type="number" name="quantity-owned" class="quantity-owned" value="{{card.quantity}}" data-id="{{card.cardId}}" />

    <input type="hidden" name="isFoil" value="{{card.isFoil}}" />
    <button type="button" class="decrement-quantity inventory-controller-button-{{#if card.isFoil}}foil{{else}}normal{{/if}} 
            hover:text-red-400 active:text-red-600">-</button>

</form>