<div id="set-info">
    <h2 id="set-header">
        <i class="ss ss-{{set.keyruneCode}} ss-2x"></i>
        <span id="set-name">{{set.name}}</span>
    </h2>
    <ul id="set-metadata">
        <li id="set-metadata-block">Block: {{set.block}}</li>
        <li id="set-metadata-code">Code: {{set.code}}</li>
        <li id="set-metadata-release-date">Release Date: {{set.releaseDate}}</li>
    </ul>
</div>