<section class="card-info flex flex-col md:flex-row section-container">

    <section class="md:w-1/3 mb-4 md:mb-0">
        <img class="card-image" src="{{card.imgSrc}}" alt="{{card.name}} - ({{card.setCode}})" />
    </section>

    <section class="play-info md:w-2/3 md:pl-6">
        <h3 class="card-title text-2xl font-bold mb-4">
            <div class="text-xl">
                <span>{{card.name}}</span>
                <span>{{>manaCost card=card}}</span>
            </div>
            <div class="flex items-center mb-2">
                <i class="ss ss-{{card.setCode}} ss-{{toLowerCase card.rarity}} ss-2x mr-2"></i>
                <span class="text-lg font-medium">{{toUpperCase card.setCode}}</span>
            </div>
        </h3>
        {{!-- TODO: update to ORACLE text --}}
        <section class="subsection-container">
            <section class="subsection-container">
                <h3 class="section-title">Original Text</h3>
                <p class="card-type section-content">{{card.type}}</p>
                {{!-- TODO: impl card-subtype --}}
                {{!-- <p class"card-subtype">{{card.subtype}}</p> --}}
                {{!-- TODO: update to ORACLE text --}}
                {{!-- <h3>Oracle Text</h3>
                <p class="card-oracle-text">{{card.oracleText}}</p> --}}
                <p class="card-original-text section-content">
                    {{card.originalText}}
                </p>
            </section>
            <p class="card-rarity section-content">{{card.rarity}}</p>
            <p class="card-number section-content">#{{card.number}}</p>
        </section>
        <section class="card-legalities subsection-container">
            <h3 class="section-title">Legalities</h3>
            <ul class="list-disc list-inside section-content">
                {{#each card.legalities as |legality|}}
                <li>{{legality.key}}: {{legality.value}}</li>
                {{/each}}
            </ul>
        </section>
    </section>

    <section class="inventory-info md:w-1/3 ml-4">
        <h3 class="section-title">My Inventory</h3>
        {{>cardsOwned}}
    </section>
</section>

<section class="price-info section-container">
    <h3 class="section-title">Price</h3>
    <span>$</span>{{#if card.price}}{{card.price}}{{else}}0.00{{/if}}
</section>

{{!-- {{#if card.otherPrintings}} --}}
<section class="other-printings section-container">
    <h3 class="section-title other-printings-title">Other Printings</h3>
    <table class="table-container">
        <tbody>
            {{#each card.otherPrintings as |printing|}}
            <tr class="table-row">
                <td class="set-icon table-cell"><i class="ss ss-{{printing.setCode}}"></i></td>
                <td class="other-printing-url table-cell">
                    <a class="table-link" href="{{printing.url}}">{{printing.set.name}}</a>
                </td>
                <td class="other-differentiators table-cell">
                    {{#each printing.differentiators as |diff|}}
                    <span class="differentiators-description block section-content">{{diff.description}}</span>
                    {{/each}}
                </td>
                <td class="other-printing-price table-cell text-right">${{#if
                    printing.price}}{{printing.price}}{{else}}0.00{{/if}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>
{{!-- {{/if}} --}}

<script src="/public/js/updateInventory.js" defer></script>