<section class="card-info">

    <section class="card-image">
        <img src="{{card.imgSrc}}" alt="{{card.name}} - ({{card.setCode}})" />
    </section>

    <h3 class="card-title">
        <div>
            <i class="ss ss-{{card.setCode}} ss-2x"></i>
            <span>{{card.setCode}}</span>
        </div>
        <span>{{card.name}}</span>
        <span>{{>manaCost card=card}}</span>
    </h3>

    {{!-- TODO: update to ORACLE text --}}
    <section class="play-info">
        <h3>Original Text</h3>
        <p class="card-type">{{card.type}}</p>
        {{!-- TODO: impl card-subtype --}}
        {{!-- <p class"card-subtype">{{card.subtype}}</p> --}}
        {{!-- TODO: update to ORACLE text --}}
        {{!-- <h3>Oracle Text</h3>
        <p class="card-oracle-text">{{card.oracleText}}</p> --}}
        <p class="card-original-text">{{card.originalText}}</p>
        <p class="card-rarity">{{card.rarity}}</p>
        <p class="card-number">{{card.number}}</p>
    </section>

    <section class="card-legalities">
        <ul>
            {{#each card.legalities as |legality|}}
            <li>{{legality.key}}: {{legality.value}}</li>
            {{/each}}
        </ul>
    </section>
</section>

<section class="price-info">{{#if card.price}}{{card.price}}{{else}}0{{/if}}</section>

<section class="inventory-info">
    {{>cardsOwned}}
</section>

<section class="other-printings">
    <h3 class="other-printings-title">Other Printings</h3>
    <table>
        <tbody>
            {{#each card.otherPrintings as |printing|}}
            <tr>
                <td class="set-icon"><i class="ss ss-{{printing.setCode}}"></i></td>
                <td class="other-printing-url"><a href="{{printing.url}}">{{printing.set.name}}</a></td>
                <td class="other-differentiators">
                    {{#each printing.differentiators as |diff|}}
                    <span class="differentiators-description">{{diff.description}}</span>
                    {{/each}}
                </td>
                <td class="other-printing-price">{{#if printing.price}}{{printing.price}}{{else}}0{{/if}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>

<script src="/public/js/updateInventory.js" defer></script>