<div id="card-image">
    <img src="{{card.imgSrc}}" alt="{{card.name}} - ({{card.setCode}})" />
</div>

<div id="card-identity">
    <div id="card-name">{{card.name}}</div>
    <div id="card-set">
        <i class="ss ss-{{card.setCode}} ss-2x"></i>
        <span id="set-code">{{card.setCode}}</span>
    </div>
</div>

<div id="play-info">
    <h4>
        <span>{{card.name}}</span>
        <span>{{>manaCost card=card}}</span>
    </h4>
    <h5>Original Text</h5>
    <p class="card-type">{{card.type}}</p>
    <p class="card-original-text">{{card.originalText}}</p>
    <p class="card-rarity">{{card.rarity}}</p>
    <p class="card-number">{{card.number}}</p>
    <table class="card-legalities">
        <tbody>
            {{!-- TODO: hard code each format? I.e.:
            <td>Standard</td>
            <td>{{card.standard}}</td>
            etc --}}
            {{#each card.legalities}}
            <tr>
                <td>{{card.key}}</td>
                <td>{{card.value}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div id="price-info"><!-- TODO: fill in with price info --></div>

<div id="inventory-info">
    <div>
        {{>cardsOwned}}
    </div>
    <div id="card-other-printings">
        <h4 id="card-other-printings-title">Other Printings</h4>
        <table>
            <tbody>
                {{#each card.otherPrintings}}
                <tr>
                    <td class="set-icon"><i class="ss ss-{{card.setCode}}"></i></td>
                    <td class="other-printing-url"><a href="{{card.url}}">{{card.set.name}}</a></td>
                    <td class="other-differentiators">
                        {{#each card.differentiators}}
                        <span class="differentiators-description">{{card.description}}</span>
                        {{/each}}
                    </td>
                    <td class="other-printing-price">{{card.price}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<script src="/public/js/updateInventory.js" defer></script>