<nav class="bg-purple-600 shadow-lg p-4">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16">
            <div class="flex items-center">
                <a class="text-white text-lg font-bold" href="/">I Want My MTG</a>
            </div>
            {{!-- Desktop --}}
            <div class="hidden md:flex space-x-4 items-center">
                <a class="navbar-link" href="/"><img src="/public/images/logo.png" alt="logo" /></a>
                <a class="navbar-link" href="/sets">Sets</a>
                {{#if authenticated}}
                <a class="navbar-link" href="/inventory">My Inventory</a>
                <a class="navbar-link" href="/user">My Account</a>
                <a class="navbar-link" href="/auth/logout">Logout</a>
                {{else}}
                <a class="navbar-link" href="/auth/login">Login</a>
                <a class="navbar-link" href="/user/create">Create Account</a>
                {{/if}}
            </div>
            {{!-- Mobile Menu Button--}}
            <div class="md:hidden flex items-center">
                <button id="mobile-menu-button"
                    class="text-teal-500 hover:text-teal-600 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-purple">
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16m-7 6h7" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    {{!-- Mobile Menu --}}
    <div id="mobile-menu" class="hidden md:hidden">
        <a class="navbar-link-mobile" href="/">Home</a>
        <a class="navbar-link-mobile" href="/sets">Sets</a>
        {{#if authenticated}}
        <a class="navbar-link-mobile" href="/inventory">My Inventory</a>
        <a class="navbar-link-mobile" href="/user">My Account</a>
        <a class="navbar-link-mobile" href="/auth/logout">Logout</a>
        {{else}}
        <a class="navbar-link-mobile" href="/auth/login">Login</a>
        <a class="navbar-link-mobile" href="/user/create">Create Account</a>
        {{/if}}
    </div>
</nav>
<p id="response-message" class="response-message bg-{{#if status }}{{ status }}{{else}}info{{/if}} hidden" role="alert">
    {{message}}
</p>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const message = document.getElementById("response-message");
        console.log(`message: ${message}`);
        if (message.textContent.trim().length > 0) {
            message.classList.remove("hidden");
            setTimeout(() => {
                message.classList.add("hidden");
            }, 3000);
        }
        const observer = new MutationObserver((mutations) => {
            mutations.forEach((mutation) => {
                if (mutation.type === "childList" && mutation.target === message) {
                    if (message.textContent.trim().length > 0) {
                        message.classList.remove("hidden");
                        setTimeout(() => {
                            message.classList.add("hidden");
                        }, 3000);
                    }
                }
            });
        });
        observer.observe(message, { childList: true });

        document.getElementById("mobile-menu-button").addEventListener("click", () => {
            const menu = document.getElementById("mobile-menu");
            menu.classList.toggle("hidden");
        });
    });
</script>