<section class="pagination-container">

    {{#if pagination.previous}}
    <a href="{{pagination.previous.href}}"
        class="pagination-btn pagination-btn-primary">{{pagination.previous.text}}</a>

    <a href="{{pagination.first.href}}" class="pagination-btn pagination-btn-tertiary">{{pagination.first.text}}</a>
    {{/if}}

    {{#if pagination.skipBack}}
    <a href="{{pagination.skipBack.href}}"
        class="pagination-btn pagination-btn-tertiary">{{pagination.skipBack.text}}</a>
    <span>...</span>
    {{/if}}

    <span class="pagination-btn pagination-btn-current" aria-current="page">{{pagination.current}}</span>

    {{#if pagination.skipForward}}
    <span>...</span>
    <a href="{{pagination.skipForward.href}}"
        class="pagination-btn pagination-btn-tertiary">{{pagination.skipForward.text}}</a>
    {{/if}}

    {{#if pagination.next}}
    <a href="{{pagination.last.href}}" class="pagination-btn pagination-btn-tertiary">{{pagination.last.text}}</a>

    <a href="{{pagination.next.href}}" class="pagination-btn pagination-btn-primary">{{pagination.next.text}}</a>
    {{/if}}

    <form method="get" action="{{pagination.baseUrl}}" class="flex items-center gap-2 mb-4 mt-2">
        <input type="hidden" name="page" value="{{pagination.current}}">
        {{#if filter}}
        <input type="hidden" name="filter" value="{{filter.term}}">
        {{/if}}
        <select id="limit" name="limit" class="input-field w-20 text-center py-1 pl-0 pr-2 
                text-xs sm:text-sm bg-white border border-teal-300 rounded focus:ring-2 
                focus:ring-teal-200 focus:outline-none" onchange="this.form.submit()">
            <option value="25" {{#if (eq pagination.limit 25)}}selected{{/if}}>25</option>
            <option value="50" {{#if (eq pagination.limit 50)}}selected{{/if}}>50</option>
            <option value="100" {{#if (eq pagination.limit 100)}}selected{{/if}}>100</option>
        </select>
        <label for="limit" class="text-sm font-medium text-teal-700">per page</label>
    </form>
</section>