{{~!--
  Set list page content - filter, base-only toggle, and block-grouped set table.

  Parameters:
    filter          - filter partial params (baseUrl, searchTerm, etc.)
    baseOnlyToggle  - { visible, url, isBaseOnly, text }
    blockGroups     - array of { blockName, isMultiSet, sets: array }
    authenticated   - boolean, controls owned-column visibility
    assetVersion    - cache-busting version
--~}}
<div class="content-wrapper">
    <div class="flex items-center gap-2">
        <div class="flex-1">
            {{>filter}}
        </div>
        {{#if baseOnlyToggle.visible}}
        <a href="{{baseOnlyToggle.url}}"
           class="btn {{#if baseOnlyToggle.isBaseOnly}}btn-secondary{{else}}btn-primary{{/if}}
                  whitespace-nowrap h-[42px] flex items-center justify-center flex-shrink-0
                  mb-4">
            {{baseOnlyToggle.text}}
        </a>
        {{/if}}
    </div>
    <div id="filter-results">
        {{#if blockGroups.length}}
        <div class="table-wrapper">
        <table class="min-w-full table-container">
            <thead>{{>tableHeadersRow}}</thead>
            <tbody>
                {{#each blockGroups}}
                {{#if this.isMultiSet}}
                <tr class="block-label-row">
                    <td colspan="{{#if ../authenticated}}4{{else}}3{{/if}}" class="block-label">{{this.blockName}}</td>
                </tr>
                {{/if}}
                {{#each this.sets}}
                <tr class="table-row{{#if this.isBlockChild}} block-child-row{{/if}}">
                    <td class="table-cell">
                        <i class="ss ss-{{this.keyruneCode}} ss-fw"></i>
                        <a href="{{this.url}}" class="table-link">{{this.name}}</a>
                        {{>tags item=this}}
                    </td>
                    <td class="table-cell">
                        {{this.prices.defaultPrice}}
                        {{#if this.prices.defaultPriceChangeWeekly}}
                        <span class="price-change price-change-{{this.prices.defaultPriceChangeWeeklySign}}">{{this.prices.defaultPriceChangeWeekly}}</span>
                        {{/if}}
                    </td>
                    {{#if ../../authenticated}}
                    <td class="table-cell">
                        <span class="text-sm font-medium text-gray-800 dark:text-gray-200">{{this.ownedValue}}</span>
                        <div class="mt-0.5">{{>completionRate}}</div>
                    </td>
                    {{/if}}
                    <td class="table-cell xs-hide">{{this.releaseDate}}</td>
                </tr>
                {{/each}}
                {{/each}}
            </tbody>
        </table>
        </div>
        {{else}}
        {{>emptyState icon="search" message="No sets match your search" hint="Try a different search term or clear your filter." buttonHref="/sets" buttonText="Show All Sets"}}
        {{/if}}
    </div>
</div>
{{>pagination hasItems=blockGroups.length}}
