<div class="w-full mx-auto">
    {{>filter}}
    <table class="min-w-full bg-white">
        <thead>
            <tr class="table-header-row">
                <th class="table-header pl-2" data-sort="name">
                    <button type="button" class="sort-btn" data-sort="name">
                        Name
                        <span class="sort-icon" data-sort="name">
                            <svg class="w-3 h-3" viewBox="0 0 20 20" fill="currentColor">
                                <path d="M10 14l6-6H4l6 6z" />
                            </svg>
                        </span>
                    </button>
                </th>
                <th class="table-header" data-sort="price">
                    <button type="button" class="sort-btn" data-sort="price">
                        Total Value
                        <span class="sort-icon" data-sort="price">
                            <svg class="w-3 h-3" viewBox="0 0 20 20" fill="currentColor">
                                <path d="M10 14l6-6H4l6 6z" />
                            </svg>
                        </span>
                    </button>
                </th>
                <th class="table-header" data-sort="owned">
                    <button type="button" class="sort-btn" data-sort="owned">
                        Owned Value
                        <span class="sort-icon" data-sort="owned">
                            <svg class="w-3 h-3" viewBox="0 0 20 20" fill="currentColor">
                                <path d="M10 14l6-6H4l6 6z" />
                            </svg>
                        </span>
                    </button>
                </th>
                <th class="table-header xs-hide pr-2" data-sort="releaseDate">
                    <button type="button" class="sort-btn" data-sort="releaseDate">
                        Release Date
                        <span class="sort-icon" data-sort="releaseDate">
                            <svg class="w-3 h-3" viewBox="0 0 20 20" fill="currentColor">
                                <path d="M10 14l6-6H4l6 6z" />
                            </svg>
                        </span>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each setList}}
            <tr class="table-row">
                <td class="py-2 pl-2">
                    <i class="ss ss-{{this.keyruneCode}} ss-fw"></i>
                    <a href="{{this.url}}" class="table-link">{{this.name}}</a>
                </td>
                <td class="py-2">${{this.totalValue}}</td>
                <td class="py-2">
                    <div class="relative w-full h-6 bg-gray-200 rounded">
                        <div class="absolute top-0 left-0 h-full bg-teal-500 rounded"
                            style="width: {{this.ownedPercentage}}%;"></div>
                        <span class="absolute inset-0 flex items-center justify-center text-black font-bold">
                            ${{this.ownedValue}}
                        </span>
                    </div>
                </td>
                <td class="py-2 pr-2 xs-hide">{{this.releaseDate}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{>pagination}}