<section id="user-inventory" class="section-container">
    <h3 id="user-inventory-heading">{{this.username}}'s Inventory</h3>
    <section id="user-inventory-metadata">
        <div id="user-inventory-value" class="user-inventory-metadata-item">
            <p class="user-inventory-metadata-heading">Value</p>
            <p class="user-inventory-metadata-data">{{this.value}}</p>
        </div>
    </section>

    <table id="user-inventory-cards" class="table-container w-full">
        <thead>
            <tr>
                <th>Owned</th>
                <th>Name</th>
                <th>Set</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {{#each cards}}
            <tr>
                {{!-- TODO: reduce width of Owned column to take up width of content only --}}
                <td class="cards-owned-td">{{>cardsOwned card=this}}</td>
                <td class="inventory-item" data-img-src="{{this.imgSrc}}">
                    <a href="{{this.url}}">{{this.name}}</a>
                    {{>reserved card=this}}
                    <a href="{{this.url}}" class="card-img-link">
                        <img src="{{this.imgSrc}}" alt="{{this.name}}" class="card-img-preview" />
                    </a>
                </td>
                <td>
                    <i class="ss ss-{{this.setCode}} ss-fw"></i>
                    <a href="/sets/{{this.setCode}}">{{this.setCode}}</a>
                </td>
                <td>${{#if this.price}}{{this.price}}{{else}}0.00{{/if}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>
<script src="/public/js/updateInventory.js" defer></script>