<section class="border border-teal-100 sm:m-0 md:m-4">
    <section class="text-center bg-teal-100 mb-4">
        <h3 class="page-title">{{this.username}}'s Inventory</h3>
        <p>Value: ${{#if this.value}}{{this.value}}{{else}}0.00{{/if}}</p>
    </section>

    <table class="table-container w-full">
        <thead>
            <tr class="bg-teal-200">
                <th class="border-b border-purple-300">Owned</th>
                <th class="border-b border-purple-300">Name</th>
                <th class="border-b border-purple-300">Set</th>
                <th class="border-b border-purple-300">Price</th>
                <th class="border-b border-purple-300">Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each cards}}
            <tr class="bg-white even:bg-teal-100 border-b border-teal-300">
                <td class="cards-owned-td">{{>cardsOwned card=this}}</td>
                <td class="inventory-item" data-img-src="{{this.imgSrc}}">
                    <a href="{{this.url}}">{{this.name}}</a>
                    {{>reserved card=this}}
                    <a href="{{this.url}}" class="card-img-link">
                        <img src="{{this.imgSrc}}" alt="{{this.name}}" class="card-img-preview" />
                    </a>
                </td>
                <td>
                    <a href="/sets/{{this.setCode}}">
                        <i class="ss ss-{{this.setCode}} ss-{{toLowerCase this.rarity}} ss-fw"></i>{{toUpperCase
                        this.setCode}}
                    </a>
                </td>
                <td>${{#if this.price}}{{this.price}}{{else}}0.00{{/if}}</td>
                <td class="delete-inventory-entry">
                    {{>deleteInventoryEntry card=this}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>
<script src="/public/js/updateInventory.js" defer></script>