<div id="user-inventory">
    <h3 id="user-inventory-heading">{{this.username}}'s Inventory</h3>
    <section id="user-inventory-metadata">
        <div id="user-inventory-value" class="user-inventory-metadata-item">
            <p class="user-inventory-metadata-heading">Value</p>
            <p class="user-inventory-metadata-data">{{this.value}}</p>
        </div>
    </section>

    <table id="user-inventory-cards">
        <thead>
            <tr>
                <th>Owned</th>
                <th>Name</th>
                <th>Set</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {{#each cards}}
            <tr>
                <td>{{>cardsOwned card=this}}</td>
                <td>
                    <a href="{{this.url}}">{{this.name}}</a>
                    {{>reserved card=this}}
                    <img src="{{this.imgSrc}}" alt="{{this.name}}" />
                </td>
                <td>
                    <i class="ss ss-{{this.setCode}} ss-fw"></i>
                    <a href="/sets/{{this.setCode}}">{{this.setCode}}</a>
                </td>
                <td>{{#if this.price}}{{this.price}}{{else}}0{{/if}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<script src="/public/js/updateInventory.js" defer></script>